.incomeTable{
    background-color: #ffffff;
    
    margin-top: 5vh;
  
    padding:2% ;
    border-radius: 15px;
    filter: drop-shadow(0 0 0.75rem rgb(206, 203, 203));
}
th, td {
    border:0;}
 