<br>
<div class="accordion" id="accordionPayment">
    <div class="accordion-item mb-3">
        <div class="container"><br>
            <h2>Profile</h2><br>
            <div>
            <label class="form-label">First Name - </label>
        </div> 
        <br>
        <div>
            <label class="form-label">Middle Name - </label>
        </div>
        <br>
        <div>
            <label class="form-label">Last Name - </label> 
        </div>
        <br>
        <div>
            <label class="form-label">Mobile Number - </label>
        </div>
        <br>
        <div>
            <label class="form-label">Aadhar Card Number -</label>
        </div>
        <br>
        <div>
            <label class="form-label">Date of Birth - </label>
        </div>
        <br>
        <div>
            <label class="form-label">emailId - </label>
        </div> <br>
        <div>
            <label class="form-label">Residential Address  - </label>
        </div> <br>
        <div>
            <label class="form-label">Residential State - </label>
        </div> <br>
        <div>
            <label class="form-label">Residential City -</label>
        </div> <br>
        <div>
            <label class="form-label">Residential Pincode - </label>
        </div> <br>
        <div>
            <label class="form-label">Occupation details- </label>
        </div> <br>
        <div>
            <label class="form-label">Occupation Type -</label>
        </div> <br>
        <div>
            <label class="form-label">Gross Annual Income - </label>
        </div> <br>
        <br>
        <div>
            <button (click)="navigate()" class="btn btn-primary w-20 mt-2">Edit Profile</button> &nbsp;
            
        </div><br>
        </div>
    </div>
</div>










